!--------------------------------------------------------------------------------------------------
! __  __
! \ \/ /  _ __    ___   ___    ___    _   _   _ __    ___    ___   ___
!  \  /  | '__|  / _ \ / __|  / _ \  | | | | | '__|  / __|  / _ \ / __|
!  /  \  | |    |  __/ \__ \ | (_) | | |_| | | |    | (__  |  __/ \__ \
! /_/\_\ |_|     \___| |___/  \___/   \__,_| |_|     \___|  \___| |___/
!
! Xresources config file
!--------------------------------------------------------------------------------------------------



!-------------------------------------------------------------------------
! COLORS
!-------------------------------------------------------------------------

! special
*.foreground:   #dededd
*.background:   #21262b
*.cursorColor:  #dededd

! black
*.color0:       #424b55
*.color8:       #7d7a68

! red
*.color1:       #f32e2e
*.color9:       #ff9f9f

! green
*.color2:       #75ee37
*.color10:      #acff82

! yellow
*.color3:       #f2cf26
*.color11:      #ffe87b

! blue
*.color4:       #3160f2
*.color12:      #7c9cff

! magenta
*.color5:       #c930f3
*.color13:      #e279ff

! cyan
*.color6:       #2beeb4
*.color14:      #75ffd6

! white
*.color7:       #95917d
*.color15:      #fefbec



!-------------------------------------------------------------------------
! urxvt settings
!-------------------------------------------------------------------------

! setting font to standard font
URxvt.font: xft:Hack Nerd Font Mono:size=12

! perl extension settings
URxvt.perl-ext-common: default,matcher,
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

