////////////////////////////////////////////////////////////////////////////////////////////////////
//                  __   _
//  _ __    ___    / _| (_)
// | '__|  / _ \  | |_  | |
// | |    | (_) | |  _| | |
// |_|     \___/  |_|   |_|
//
// rofi configuration file
////////////////////////////////////////////////////////////////////////////////////////////////////



configuration {
////////////////////////////////////////////////////////////////////////////////////////////////////
// GENERELL SETTINGS
////////////////////////////////////////////////////////////////////////////////////////////////////

modi: "drun,window,run" ;
width: 50 ;
lines: 15 ;
columns: 2 ;
font: "Hack Nerd Font Mono 12" ;
location: 0 ;



////////////////////////////////////////////////////////////////////////////////////////////////////
// COLOR SETTINGS
////////////////////////////////////////////////////////////////////////////////////////////////////

color-window: "#21262b , #3160f2 , #3160f2" ;
color-normal: "#21262b, #dededd , #21262b , #21262b , #7c9cff";
}
